:root {
  --primary-blue: #3b82f6;
  --primary-blue-dark: #2563eb;
  --gray-800: #1f2937;
  --neutral-400: #9ca3af;
  --neutral-900: #111827;

  /* Dark mode variables */
  --bg-dark: #111827;
  --text-dark: #ffffff;
  --border-dark: #374151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  gap: 30px;
}

.dark-mode {
  justify-self: flex-end;
}

.dark-mode-toggle {
  padding: 10px 22px;
  background-color: #2663ec;
  border-style: none;
  color: #f1f6fe;
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 0.5em;
  cursor: pointer;
}

.hero-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.content-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content-col h1 {
  color: #111827;
  font-size: 5em;
  font-weight: 900;
}

.content-col p {
  color: #000000;
  font-size: 1.5em;
  font-weight: 500;
}

.cta-group {
  display: flex;
  gap: 8px;
}

#hero-input {
  padding: 14px 40px;
  border-radius: 0.5em;
  outline: none;
  border: 1px solid #cacaca;
  color: #a6adb8;
}

input[type='text'] {
  color: #a6adb8;
  font-size: 1.2em;
}

.demo-button {
  background-color: #3c82f5;
  border-style: none;
  border-radius: 0.5em;
  color: #ffffff;
  padding: 10px 34px;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}

.hero-image {
  border-radius: 1.5em;
  height: 650px;
}

.trusted-by {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  color: #565656;
}

.brand-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Small Screen Mobile Phone */
@media (min-width: 0px) and (max-width: 425px) {
  .dark-mode-toggle {
    padding: 9px 15px;
    font-size: 0.9em;
  }

  .hero-grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-image {
    border-radius: 1.5em;
    height: 250px;
  }

  .content-col h1 {
    font-size: 3em;
    text-align: center;
    line-height: 1em;
  }

  .content-col p {
    font-size: 1em;
    text-align: center;
  }

  .cta-group {
    flex-direction: column;
  }

  #hero-input {
    width: 16em;
  }

  .demo-button {
    padding: 13px 34px;
    width: 17.5em;
  }
}

/* Mobile and Tablet */
@media (min-width: 426px) and (max-width: 920px) {
  .dark-mode {
    margin-right: 5px;
  }

  .dark-mode-toggle {
    padding: 9px 16px;
    font-size: 1em;
  }

  .hero-grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .content-col {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .content-col h1 {
    font-size: 3em;
    line-height: 1.1em;
    font-weight: 900;
  }

  .content-col p {
    font-size: 1.2em;
  }

  .cta-group {
    display: flex;
    flex-direction: column;
  }

  .demo-button {
    width: 21.8em;
    padding: 13px 0;
  }

  #hero-input {
    padding: 12px 40px;
    width: 20em;
  }

  .hero-image {
    height: 300px;
  }
}

/* For Laptop */
@media (min-width: 921px) and (max-width: 1440px) {
  .dark-mode-toggle {
    margin-right: 2px;
    font-size: 1em;
  }

  .content-col h1 {
    line-height: 1em;
    font-size: 3em;
  }

  .content-col p {
    font-size: 1.2em;
  }

  .cta-group {
    display: flex;
    flex-direction: column;
  }

  .hero-image {
    border-radius: 1.5em;
    height: 380px;
  }

  #hero-input {
    width: 20em;
  }
}