/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  text-align: center;
}

.pricing-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: 0 30px;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px 15px;
  border-radius: 0.5em;
  background: #ffffff;
  border: 2px solid #ff8417;
}

.pricing-card:hover {
  /* Add your styles here */
}

.pricing-card h2,
.pricing-card .price {
  color: #07141f;
  font-size: 1.8em;
  font-weight: 700;
}

.pricing-card .price {
  font-size: 2em;
}

.pricing-card .period {
  color: #6d6a7b;
}

.pricing-card ul li {
  color: #222222;
  font-weight: 500;

}

.pricing-card.popular {
  /* Add your styles here */
}

.popular-badge {
  /* Add your styles here */
}

.price {
  /* Add your styles here */
}

.period {
  /* Add your styles here */
}

.features {
  /* Add your styles here */
}

.features li {
  margin-bottom: 15px;
  list-style: none;
}

.subscribe-btn {
  background: #ff9533;
  color: #311403;
  padding: 15px 35px;
  border-style: none;
  border-radius: 1.7em;
  font-size: 1em;
}

.subscribe-btn:hover {
  /* Add your styles here */
}

/* Responsive Design for Mobile And Tablet */
@media (min-width: 0) and (max-width: 768px) {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
  }

  .pricing-container {
    display: flex;
    flex-direction: column
  }

  .pricing-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

/* Responsive  Design for Laptops And Larger Devices*/
@media (min-width: 769px) {
  .container {
    height: 80vh;
  }
}